<div *ngIf="darkmode; else elsestatement">
    <div class="row p-0 m-0">
        <div class="col-5"></div>
        <div class="col-4 text-white">
            <h2 class="darkmode-h2">Ask To AI</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="container w-100 darkmode">

        <div class="row" *ngFor="let chat of chatsArray">
            <div class="question">
                <strong>Q : </strong>{{chat.question}}

            </div>
            
               <div *ngIf="chat.state; else errorState">
                    <div class="answer">
                        <strong>Ans : </strong>{{chat.answer}}
                    </div>
               </div>
                <ng-template #errorState>
                    <div class="alert alert-danger"><strong>{{chat.answer}}</strong></div>
                </ng-template>
            
        </div>
    </div>
    <form [formGroup]="chatForm" (ngSubmit)="askQuestion()" class="p-0 m-0">
        <div class="row w-100 px-0 mx-0 mt-1 py-0">
            <div class="col-2"></div>

            <div class="col-8 p-0 m-0">
                <input name="question" formControlName="question" type="text"
                    class="form-control m-0 w-100 darkmode-input">
            </div>
            <div class="col-2 p-0">
                <button type="submit" class="btn btn-primary w-25 darkmode-button mx-1 ">
                    <i class="fa-regular fa-paper-plane"></i>
                </button>

            </div>

        </div>
    </form>
</div>


<ng-template #elsestatement>
    <div class="row p-0 m-0">
        <div class="col-5"></div>
        <div class="col-4 text-white">
            <h2 class="brightmode-h2">Ask To AI</h2>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="container w-100 brightmode">

        <div class="row" *ngFor="let chat of chatsArray">
            <div class="question">
                <strong>Q : </strong>{{chat.question}}

            </div>
            
               <div *ngIf="chat.state; else errorState">
                    <div class="answer">
                        <strong>Ans : </strong>{{chat.answer}}
                    </div>
               </div>
                <ng-template #errorState>
                    <div class="alert alert-danger"><strong>{{chat.answer}}</strong></div>
                </ng-template>
        </div>
    </div>

    <form [formGroup]="chatForm" (ngSubmit)="askQuestion()">
        <div class="row w-100 px-0 mx-0 mt-1 py-0">
            <div class="col-2"></div>
            <div class="col-8 p-0"><input name="question" formControlName="question" type="text"
                    class="form-control m-0 w-100 "></div>
            <div class="col-2 p-0"><button type="submit" class="btn btn-primary w-25 brightmode-button mx-1">
                    <i class="fa-regular fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</ng-template>