<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="#!"><h4>Ask to AI</h4> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link btn btn-secondary text-dark" routerLink="/register">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Get started with OpenAI’s powerful
                    language and code generation models</h1>
                <p class="fs-4">
                    The OpenAI API can be applied to virtually any task that involves understanding or generating
                    natural language or code. We offer a spectrum of models with different levels of power suitable for
                    different tasks, as well as the ability to fine-tune your own custom models. These models can be
                    used for everything from content generation to semantic search and classification.
                </p>
                <a class="btn btn-primary btn-lg" routerLink="/try-sample">Try sample</a>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">Fast</h2>
                        <p class="mb-0">Our advanced inference infrastructure provides extremely short response times.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">Scalable</h2>
                        <p class="mb-0">We can handle high volume requests that scale with your needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-card-heading"></i></div>
                        <h2 class="fs-4 fw-bold">Flexible</h2>
                        <p class="mb-0">Easy to use and flexible enough to make machine learning teams more productive.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-bootstrap"></i></div>
                        <h2 class="fs-4 fw-bold">Show and tell</h2>
                        <p class="mb-0">If you want the model to rank a list of items in alphabetical order or to classify a paragraph by sentiment, show it that's what you want.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-code"></i></div>
                        <h2 class="fs-4 fw-bold">Simple clean code</h2>
                        <p class="mb-0">We keep our dependencies up to date and squash bugs as they come!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-patch-check"></i></div>
                        <h2 class="fs-4 fw-bold">Provide quality data.</h2>
                        <p class="mb-0">If you're trying to build a classifier or get the model to follow a pattern, make sure that there are enough examples.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>